In [ ]:
print("This is a sample program")

This is a sample program

In [ ]:
a=5
a=a+2
print(a)

7

while loop

In [ ]:
x=8
while x>0:
  x=x-1
  print(x)

print("Endoff")

7
6
5
4
3
2
1
0
Endoff

In [ ]:
a=5
b=8
c=a*b
print(c)

40

In [ ]:
print("Welcome to Policy premium System")
a= int(input("Total Premium Amount (in Rupees):"))
b= int(input("Duration of premium (in year):"))
c= a//b
print("Your yearly premium amount is",c)
print("Your monthly premium amount is",c//12)

Welcome to Policy premium System
Total Premium Amount (in Rupees):500000
Duration of premium (in year):5
Your yearly premium amount is 100000
Your monthly premium amount is 8333

In [ ]:
print("Welcome to Policy premium System")
a= int(input("Total Premium Amount (in Rupees):"))
b= int(input("Duration of premium (in year):"))
c= a//b
print("Your yearly premium amount is",c)
print("Your monthly premium amount is",c//12)

Welcome to Policy premium System
Total Premium Amount (in Rupees):60000
Duration of premium (in year):5
Your yearly premium amount is 12000
Your monthly premium amount is 1000

In [ ]:
a= int(input("Enter Monthly Premium Amount (in Rupees):"))
b= int(input("Enter Duration of premium (in year):"))
c= a*12
d= c*b
print("Your yearly premium amount is",c)
print("Your Total premium amount is",d)

Enter Monthly Premium Amount (in Rupees):7200
Enter Duration of premium (in year):10
Your yearly premium amount is 86400
Your Total premium amount is 864000

In [ ]:
x=25
y=x%4
print(y)

1

In [ ]:
x=4+6**2/3*5
print(x)

64.0

In [ ]:
x= 'Myself' +' '+ 'Prateek Dutta' +' '+ 'Graduate Data Science Trainee' + ' '+ 'at Konverge.AI Pvt. Ltd.'
print(x)
type(x)

Myself Prateek Dutta Graduate Data Science Trainee at Konverge.AI Pvt. Ltd.

str

In [ ]:
a=int(input('Enter the floor:'))
b=a+1
print("you are in Floor",b)

Enter the floor:1
you are in Floor 2

In [ ]:
a= int(input("Enter your Yearly Salary:"))
if a<500000:
  print("You are not required to pay tax")

else:
  print("You need to pay tax as per the rule")

Enter your Yearly Salary:425000
You are not required to pay tax

In [ ]:
def alpha():
  print("Prateek")
  print("Dutta")
alpha() #invoke the function
print("Hello!")
alpha()

Prateek
Dutta
Hello!
Prateek
Dutta

In [ ]:
def greet(lang):
  if lang=='es':
    print("Hola")
  elif lang=='fr':
    print("banjour")
  else:
    print("Hello")

greet("en")

Hello

In [ ]:
def greet():
  return"Hello"

print(greet(),'Prateek')
print(greet(),'Ayush')

Hello Prateek
Hello Ayush

In [ ]:
def add(a,b):
  addition=a+b
  return addition
x= add(6,4)
print(x)

10

strings

In [ ]:
chocolate = 'Melody'
letter = chocolate[4]
print(letter)

d

In [ ]:
chocolate = 'Melody'
print(len(chocolate))

6

In [ ]:
chocolate='Melody'
for letter in chocolate:
  print(letter)

M
e
l
o
d
y

In [ ]:
chocolate='Melody'
index=0
while index<len(chocolate):
  letter= chocolate[index]
  print(index,letter)
  index=index+1

0 M
1 e
2 l
3 o
4 d
5 y

In [ ]:
chocolate='Kacha Mango Bite'
count=0
for letter in chocolate:
  if letter=='a':
    count=count+1
print(count)

3

In [ ]:
x='PythonisaProgramminglanguage'
print(x[3:7])

honi

In [ ]:
friend= ['Ayush', 'Arup', 'Krashank', 'Deep']
for friends in friend:
  print("Happy Independence Day", friends)
print('Done')

Happy Independence Day Ayush
Happy Independence Day Arup
Happy Independence Day Krashank
Happy Independence Day Deep
Done

In [ ]:
total=0
count=0
while True:
  x=input("Enter Number:")
  if x=='Done': break
  value=float(x)
  total=total+value
  count=count+1
average=total/count
print("Average of the number:",average)

Enter Number:5
Enter Number:6
Enter Number:7
Enter Number:Done
Average of the number: 6.0

Dictionary

In [ ]:
book=dict()
book['Flemingo']=10
book['william']= 11
book['A Common Man Succes']=12
print(book)

{'Flemingo': 10, 'william': 11, 'A Common Man Succes': 12}

In [1]:
sentence= 'My College Registration ID:2019AAIE1111004, My dept.:AI, College area pin:440016'
x= sentence.find(':')
print(x)

26

In [2]:
import urllib.request, urllib.parse, urllib.error
x=urllib.request.urlopen('https://data.pr4e.org/authors.txt')
for line in x:
  print(line.decode().strip())

English,Charles Severance
English,Sue Blumenberg
English,Elloitt Hauser
Spanish,Fernando Tardío Muñiz
Korean,Victor (Kwangchun) Lee (이광춘)

In [3]:
import urllib.request, urllib.parse, urllib.error
x=urllib.request.urlopen('https://data.pr4e.org/authors.txt')
count=dict()
for line in x:
  words=line.decode().split()
  for word in words:
    count[word]=count.get(word,0)+1
print(count)

{'English,Charles': 1, 'Severance': 1, 'English,Sue': 1, 'Blumenberg': 1, 'English,Elloitt': 1, 'Hauser': 1, 'Spanish,Fernando': 1, 'Tardío': 1, 'Muñiz': 1, 'Korean,Victor': 1, '(Kwangchun)': 1, 'Lee': 1, '(이광춘)': 1}

Web Scrapping

In [4]:
pip install beautifulsoup4

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (4.6.3)

In [ ]:
import urllib.request, urllib.parse, urllib.error
from bs4 import BeautifulSoup
url= input('Enter URL:- ')
html=urllib.request.urlopen(url).read()
soup=BeautifulSoup(html,'html.parser')
#Retrieve all of the anchor tags
tags=soup('a')
for tag in tags:
  print(tag.get('href',None))